<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talkingdata.myna.demo">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme"
        android:name=".DemoApplication">
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".DataScientistActivity" />
        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.talkingdata.sdk.myna.MynaService" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="申请的 App Key"/>
    </application>

</manifest>